<!-- app/views/static_pages/home.html.erb -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="<%= asset_path('styles.css') %>">
  <link rel="stylesheet" href="<%= asset_path('slick.css') %>">
  <link rel="stylesheet" type="text/css" href="<%= asset_path('slick-theme.css')%>"%>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  
  <script src="<%= asset_path('slick-init.js') %>"></script>
  
  <title>Matt Cruz Fitness</title>

</head>

<body>

  <%= render 'home/partials/hero'%>
    

  <%= render 'home/partials/pain'%>

  <%= render 'home/partials/about'%>

  <%= render 'home/partials/whats-in-store'%>
  
  <%= render 'home/partials/testimonials'%>

</body>
</html>
