
<section id="about" class="about">
    <div class="about-headline-image-wrapper">
    <%= image_tag 'me3.png', alt: 'Matt Cruz', class: 'about-image' %>
    <div class="about-headline-container">
        <h2><%="Hi I'm Matt"%> </h2>
        <h3>And I know you can do this.</h3>
    </div>
    </div>
    <div class="about-text-container">
    <h3>And I know you can do this</h3>
    <h4><%="I'm not here to sell you on the latest fad diet."%></h4> 
    <h4><%="I'm not here to put you on a 6 week beach body workout plan you'll never touch again."%></h4>
    <h4><%="I'm here to get you results that will LAST."%></h4>
    <p>Some things you should know about me</p>

    <ul>
        <li><p><%="I'm a NASM certified personal trainer"%></p></li>
        <li><p><%="I'm an amateur natural bodybuilder"%></p></li>
        <li><p><%="I've been lifting for the past 10 years"%></p></li>
        <li><p><%="I was a collegiate offensive tackle at Carnegie Mellon University"%></p></li>
        <li><p><%="I'm a former Big 4 Consultant and worked for companies like Apple and Meta"%></p></li>
        <li><p><%="I studied Information Systems, Game Design and Animation (I made this website)"%></p></li>
        <li><p><%="I'm a gamer, mediocre guitarist and a sucker for a good Pixar movie"%></p></li>
    </ul>
    <div class="about-cta-button">
        <a href="#" class="cta-button">Get Started NOW</a>
    </div>
    </div>

</section>