<!-- Pain Points Section -->
<section class="pain">
    <div class="pain-content">

    <div class="pain-text-container">
        <h1>Are you having any of these problems?</h1>
        <ul>
            <li><p><%="Winging it during your workouts"%></p></li>
            <li><p><%="Inconsistent diet"%></p></li>
            <li><p><%="Cycles of losing weight and putting it back on"%></p></li>
            <li><p><%="Not liking what you see in the mirror"%></p></li>
            <li><p><%="Stress taking over"%></p></li>
            <li><p><%="Low energy levels"%></p></li>
            <li><p><%="Not enough time to exercise"%></p></li>
            <li><p><%="Fits of rage directed at the current state of the Marvel Cinematic Universe"%></p></li>
        </ul>
    </div>
    <%= image_tag 'sad2.png', alt: 'Matt Cruz', class: 'pain-image' %>        

    </div>
    <div class="pain-headers-container">
        <h3>Have you felt like nothing is working and you don't know what to do next?</h3>
        <h4><%="Well, don't give up just yet!"%></h4>
    </div>
</section>