<!-- Pain Points Section -->
<section class="pain">
    <div class="pain-content">

    <div class="pain-text-container">
        <h1>Do any of these problems sound familiar?</h1>
        <ul>
            <li><p><%="Low energy levels"%></p></li>
            <li><p><%="Just winging it during your workouts"%></p></li>
            <li><p><%="Inconsistent diet"%></p></li>
            <li><p><%="A big belly that makes you feel insecure"%></p></li>
            <li><p><%="Stress and anxiety taking over"%></p></li>
            <li><p><%="Occasional fits of rage directed at the current state of the Marvel Cinematic Universe"%></p></li>
        </ul>
    </div>
    <%= image_tag 'sad2.png', alt: 'Matt Cruz', class: 'pain-image' %>        

    </div>
    <div class="pain-headers-container">
    <h3>Have you felt so overwhelmed it's tough to keep going?</h2>
    <h4><%="Well don't give up just yet!"%></h2>
    </div>
</section>