<!-- Testimonials Section with Slick Carousel -->
<section id="testimonials" class="testimonials">
    <h2>Client Success Stories</h2>

    <!-- Slick Carousel -->
    <div class="slick-carousel">
        <div class="testimonial">
            <%= image_tag 'johnny.jpg', alt: "Johnny's Testimonial" %>
            <p><strong>Johnny</strong></p>
            <p>Before starting I often felt pretty sluggish and depressed. My lack of diet strategy and habitual exercise left me brain-fogged and I found it hard to get to the gym since I didn’t feel confident in structuring my own workouts.</p>

            <p>I was looking for a push and some educated guidance and I feel like MCF’s program has been exactly what I needed. The confidence boost of going into every day with a plan has been a great motivator.</p>

            <p>Coach Matt is also there literally every step of the way, super responsive, helpful, and flexible to answer my questions, meet my needs, and tailor the program specifically to me.</p>

            <p>I’m not gonna lie, I’ve been seeing results a lot faster and more evidently than I ever have before. I never tried to take pictures of my body at different timepoints, one because it felt vain and two because I was pessimistic about seeing any results. Matt has been persistent with getting me to track myself regularly, which has helped me notice changes in body shape which have been really amazing to see. Even more importantly, I’m loving my improved physical and mental performance as a result of consistent workouts and intelligent eating. I’ve felt more confident than I possibly ever have. All that’s to say I’m proud of where I’m at already and I’m only just over a month in.</p>

        </div>

        <div class="testimonial">
            <%= image_tag 'freddie.jpg', alt: "Fred's Testimonial" %>
            <p><strong>Fred</strong></p>
            <p><%="I was struggling keeping a consistent and efficient half marathon training schedule and was not too confident about my running progress. Also because of my busy schedule, I did not have time to research more to improve my training.<br><br>
            
            Matt answered all my questions well and honestly and I appreciated him monitoring the fitness data I regularly sent him. <br><br>
            
            My goal was to complete my second half marathon within a short training period. I finished the half marathon and improved my training routines. <br><br>
            
            I really appreciated our regular touch base calls and for Matt being flexible to my busy schedule. I also value a lot that I get to reconnect and work closely with an old friend to help me accomplish my personal goals and I enjoy supporting Matt's amazing business.".html_safe %></p>
        </div>
        
        <div class="testimonial">
            <%= image_tag 'charlie.jpg', alt: "Charlie's Testimonial" %>
            <p><strong>Charlie</strong></p>
            <p><%= "Before I started working with Matt, my fitness situation was extremely unorganized. I was eating terribly and wanted to do something but was unsure how to approach it. <br><br>
            
            When we got started I was afraid of changing my eating habits and of the potential exercise options that may be asked. <br><br>
            
            Matt has had TREMENDOUS PATIENCE. That is the number one thing, understanding but motivating. Within one meeting he can go from encouraging and pushing to undersatnding and flexible. In regards to my eating, it has drastically improved for the better. Initially I was concerned about adjusting my eating habits but the skills and guidance Matt has provided has created a space to not only eat better and clearner but also to forgive myself on the occassional days where I go over or don't hit my goals.<br><br> 
            
            Since we started, I absolutely eat better. I also have a better tool kit and skill set for exercising, both with resistance bands at home and with my own body weight.<br><br>
            
            I can not emphasize enough how helpful and inspiring Matt's patience and ability to listen is. I feel inspired enough to be consistent with my health & fitness.".html_safe %></p>
        </div>

    </div>
    <div class="testimonial-cta-button">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdE8g3-wbdrIeAuF1ooMyI0HnbI3px3ln8d8AeyiSPA_rdsHQ/viewform?usp=sf_link" target="_blank" class="cta-button">Become a Success Story</a>
    </div>
</section>